.hero-block.container-fluid
  .wiggle-logo
    = image_tag('content/wiggle-logo.png')
  %h1 Why should designers have all the fun?
  = render({:partial => 'users/form'})

  %div
    -#%button.login{:type => "button"} Log in
  .more-down
    %p Learn more
    %p
      %a{:href => "#features"}
        = image_tag('content/down-arrow.png')

#features.container
  .row
    = feature_landing('no-code feature-icon', 'No code', 'Not a designer or developer? No problem! Point and click to animate any element of your website.')
    = feature_landing('conversions feature-icon', 'Increase conversions', "Instantly increase your conversions by animating your call to action buttons. Catch your audience's attention and stand out from the crowd.")
    = feature_landing('no-boring feature-icon', 'No more boring sites', 'With over 70 animations and transitions, you never have to create a boring, generic site again.')

= title ('Wiggle Landing')

.try-for-free.container-fluid
  %h3 Try Wiggle for free

  = render({:partial => 'users/form'})
  -#%form#wiggle-for-free.user-url
  -#  %input#user-url-free.inner-input{:type => "url"}
  -#  %label{:for => "user-url-free"} Website URL
  -#  %input.submit-button{:type => "submit", :value => "Let's wiggle"}

  .footer-info-links.row
    .info-links.col-md-6
      %a{:href => "#"} Help
      %a{:href => "#"} Terms and Conditions
    .cr-info-block.col-md-6
      %p Supers LLC 2015
